body {
    margin: 0;
    background: #eee;
    font-family: Besley, serif;
  }
  
  .header {
    background: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }
  
  .logo {
    color:darksalmon;
    size:  12px;
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
    display: flex;
    align-items: center;
  }
  
  img {
    width: 50px;
    height: 50px;

  }

  a {
    /* this removes the line under our links */
    text-decoration: none;
    color:  darksalmon;
    
  }
  
  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-size: 20px;
    align-items: center;
    
  }
